code[class*="language-"],
pre[class*="language-"] {
    color: #333;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;
    tab-size: 4;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border-radius: 0.3em;
    background: #f7f7f700;
    border: 1px solid #ededed;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f7f7f700;
    border: 1px solid #ededed;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    background: #f7f7f7;
    border: 1px solid #ededed;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #888;
}

.token.punctuation {
    color: #555;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.keyword,
.token.tag {
    color: #0077cc;
}

.token.class-name {
    color: #880000;
    text-decoration: underline;
}

.token.boolean,
.token.constant {
    color: #3377aa;
}

.token.symbol,
.token.deleted {
    color: #ff3333;
}

.token.number {
    color: #3377aa;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #33aa33;
}

.token.variable {
    color: #aa6600;
}

.token.operator {
    color: #333;
}

.token.entity {
    color: #880000;
    cursor: help;
}

.token.url {
    color: #3377aa;
}

.language-css .token.string,
.style .token.string {
    color: #008800;
}

.token.atrule,
.token.attr-value {
    color: #aa6600;
}

.token.function {
    color: #0077cc;
}

.token.regex {
    color: #3377aa;
}

.token.important {
    color: #cc3300;
    font-weight: bold;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}
