@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
}



html,
body {
    color: #000;
    background: #fff;
    scroll-behavior: smooth;
}

[data-theme='dark'],
[data-theme='dark'] body {
    color: #fff;
    background: #000;
}



a {
    padding: 2px;
}

.font-inter {
    font-family: 'Intervar';
}


@font-face {
    font-family: Intervar;
    src: url('./assets/inter-var.woff2');
}



*::-webkit-scrollbar {
    display: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
a,
ul,
li,
span,
pre,
code {
    animation: fadelineup 1s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes fadelineup {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }

    20% {
        opacity: 0.2;
    }

    50% {
        opacity: 0.8;
        transform: translateY(0%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}