@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Your default theme */
    --background: white;
    --foreground: black;
}

[data-theme='dark'] {
    --background: black;
    --foreground: white;
}



html,
body {
    color: #000;
    background: #fff;
}

[data-theme='dark'],
[data-theme='dark'] body {
    color: #fff;
    background: #000;
}



a {
    padding: 2px;
}